/* Override default outline for all buttons in project */
button:focus-visible,
[type='button']:focus-visible,
[type='reset']:focus-visible,
[type='submit']:focus-visible {
  /* outline: 1px dotted ButtonText; */
  outline: none !important;
  box-shadow: 0 0 0 2px var(--accent-8) !important;
}

a {
  padding: var(--space-1);
  color: var(--accent-a11);
  text-decoration: none;
  border-radius: var(--radius-2);

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-8);
  }
}
